.stocks-report-container {
    display: flex;
    justify-content: center;   /* Centers horizontally */
    align-items: center;       /* Centers vertically */
  }
  
  .stocks-report-heading {
    font-size: 36px;
    font-weight: bold;
  }
